/* Common shared styles */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.button-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: #f0f8ff;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;

}
/* Nav section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic {
    width: 550px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;

}
.banner-title{
    font-size: 80px;
    font-weight: 700;
}
.banner-content{
    max-width: 500px;
}
.about{
    padding: 130px;
    background-color: #FFF8F3;
    margin: 130px 0 ;
    border-radius: 10px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-descrip{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background: #FFF;
}
.skill-description{
    color: #757575;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-description, .resume-title-institite{
    color: #757575;
}
.resume-colom-title{
    font-size: 20px;
    font-weight: 700;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 150px;
    margin-top: 100px;
}
.footer-colom{
    width: 50%;
    gap: 50px;
}
.contact input[type='text'], .contact input[type='email'], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 50px;
    color: #757575;
    border: none;
    width: 100%;
}
.social-links a {
    margin-right: 25px;
}

/* Responsive */

@media screen and (max-width: 576px) {
    .skills-container{
        flex-direction: column;
    }
    #what-i-do-descrip{
        padding: 20px;
    }
    .resume-container{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        padding: 20px;
    }
    .footer-colom{
        width: 100%;
    }
    .contact input[type='text'], .contact input[type='email'], textarea{
        width: 70%;
    }
    .about{
        padding: 20px;
    }
    .about-info-container{
        flex-direction: column;
    }
    .banner, nav,ul{
        flex-direction: column;
    }
    .banner .profile-pic{
        width: 100%;
    }
    .button-primary{
        margin-bottom: 10px;
    }
    nav > ul{
        gap: 10px;
    }
}